{% extends '::base.html.twig' %}
{% block title %}Ajouter{% endblock %}
 {% block body %}

{% if valid == TRUE %}
{% for message in app.session.flashbag.get('form') %}
<p>{{ message }}</p>
      {% endfor %}
<a href="{{ path('nipponjob_accueil_ajouter', {'id': articleId} ) }}"> Le Corriger </a>
{% else %}
<div class="col-md-2"><h2>Ajouter:</h2></div>
<div class="col-md-8"><form method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
</form></div>
{% endif %}
 {% endblock %}